{% extends "base.html" %}
{% block content %}

<a href="/" class="go-back" style="position: absolute;top: 0;left: 0;  color: black;
;text-decoration: none;padding: 15px;  font-family: 'Roboto Mono', monospace;">↲ ENTRIES</a>

<div class="container-left">
  <div class="branding">
    E N T R I&nbsp;&nbsp;E S
  </div>
  <div class="branding-line"></div>
</div>

{% set blog_section = get_section(path="blog/_index.md") %}

{# Use all posts from the blog section #}
{% set visible_posts = blog_section.pages %}

{# Build container classes conditionally #}
{% set container_classes = "container-right" %}
{% if visible_posts | length < 10 %}
  {% set container_classes = container_classes ~ " few-posts" %}
{% endif %}

<div class="{{ container_classes }}">
  <div class="section">
    {% for post in visible_posts %}
      {% if post.slug != "investment-income" %}
        <div class="post" onclick="window.location='{{ post.permalink }}'" style="cursor: pointer;">
          <div class="title">{{ post.title }}</div>
          <span class="date">
            <span class="view-count" data-slug="{{ post.slug }}">0</span>
            views • {{ post.date | date(format="%B, %-d, %Y") }}
          </span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include "partial/script/projects.html" %}
{% include "partial/script/age.html" %}
{% endblock content %}
