{% extends "base.html" %}
{% block content %}
<div class="container-left">
  <div class="branding">
    P E R S O N A L&nbsp;&nbsp; B L O G
  </div>
  <div class="branding-line"></div>
</div>
{% set blog_section = get_section(path="blog/_index.md") %}

{# Grab up to 10 posts, excluding "investment-income" #}
{% set visible_posts = blog_section.pages
    | filter(attribute="slug", op="!=")
    | slice(end=10)
%}

{# Build container classes conditionally #}
{% set container_classes = "container-right" %}
{% if visible_posts | length < 10 %}
  {% set container_classes = container_classes ~ " few-posts" %}
{% endif %}

<div class="{{ container_classes }}">
  <div class="section">
    {% for post in visible_posts %}
      <div class="post" onclick="window.location='{{ post.permalink }}'" style="cursor: pointer;">
        <div class="title">{{ post.title }}</div>
        <span class="date">
          <span class="view-count" data-slug="{{ post.slug }}">0</span>
          views • {{ post.date | date(format="%B, %-d, %Y") }}
        </span>
      </div>
    {% endfor %}
  </div>
</div>
{% include "partial/script/projects.html" %}
{% include "partial/script/age.html" %}
{% endblock content %}